<form method="POST" action="{{ path('moteur.delete', {'id': moteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moteur.id) }}">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
