<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="GMIZA Template">
    <meta name="keywords" content="GMIZA, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vente voiture haut game</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="./car.html">Cars</a></li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./about.html">About Us</a></li>
                                        <li><a href="./car-details.html">Car Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="./about.html">About</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="#" class="primary-btn">Add Car</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>About Us</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- About Us Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title about-title">
                    <h2>Bienvenue sur <Site de Vente de Pièces de Rechange en Ligne>. Nous Offrons Tout ce Dont Vous Avez Besoin pour Votre Véhicule</h2>
<p>Tout d'abord, permettez-moi d'expliquer ce qu'est la publicité contextuelle. La publicité contextuelle consiste à afficher des produits sur un site Web en fonction du contenu de la page. Par exemple, si le contenu d'un site Web porte sur les pièces de rechange pour les voitures électriques, alors les publicités affichées seront en rapport avec les pièces de rechange pour ce type de véhicule.</p>
                    </div>
                </div>
            </div>
            <div class="about__feature">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="img/about/af-1.png" alt="">
                            <h5> Système d'Assurance Qualité</h5>
                            <p>Il semble cependant que certains des plus grands problèmes avec les tendances de la publicité sur Internet soient le manque de...</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="img/about/af-2.png" alt="">
                            <h5>Processus de Test Précis</h5>
                            <p>Où pouvez-vous enregistrer vos plaintes ? Comment pouvez-vous protester sous toute forme contre les entreprises dont...</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="img/about/af-3.png" alt="">
                            <h5>Technologie d'Intégration d'Infrastructure</h5>
                            <p>Donc, en dernière analyse : c'est vrai, je déteste les voyeurs, mais si je devais choisir, je prendrais un peeping Tom n'importe quel jour plutôt qu'un...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="img/about/mt.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__item">
                        <h5>Notre Mission</h5>
                        <p>  Je ne suis pas comme Robin, ce bizarre de ma classe d'anthropologie culturelle ; je pense que la publicité a sa place dans notre société, qui, pour le meilleur ou pour le pire, est structurée selon une économie de marché. Mais simplement parce que je pense que la publicité a le droit d'exister, cela ne signifie pas que je l'apprécie ou que je suis d'accord avec elle<  </p>
    </div>  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__item">
                        <h5>Notre Vision </h5>
                        <p>Où enregistrez-vous vos plaintes ? Comment pouvez-vous protester sous toute forme contre les entreprises dont les techniques publicitaires ne vous conviennent pas ? Vous ne le pouvez pas. Et sur un autre point de différence entre les produits traditionnels et leur publicité et ceux de la nature internet, ignorer simplement la publicité internet est...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Call Section Begin -->
    <section class="call spad set-bg" data-setbg="img/about/call-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="call__text">
                        <div class="section-title">
                            <h2>Request A Call Back</h2>
                            <p>Posters had been a very beneficial marketing tool because it had paved to deliver an
                                effective message that conveyed customer’s</p>
                        </div>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <form action="#" class="call__form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Phone">
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option value="">Choose Our Services</option>
                                    <option value="">Buy Cars</option>
                                    <option value="">Sell Cars</option>
                                    <option value="">Wash Cars</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="site-btn">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team-title">
                        <span>Our Team</span>
                          <h2>Rencontrez Notre Expert</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="team__item">
                        <div class="team__item__pic">
                            <img src="img/about/team-1.jpg" alt="">
                        </div>
                        <div class="team__item__text">
                            <h5>John Smith</h5>
                            <span>Marketing</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team__item">
                        <div class="team__item__pic">
                            <img src="img/about/team-2.jpg" alt="">
                        </div>
                        <div class="team__item__text">
                            <h5>Christine Wise</h5>
                            <span>C.E.O</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team__item">
                        <div class="team__item__pic">
                            <img src="img/about/team-3.jpg" alt="">
                        </div>
                        <div class="team__item__text">
                            <h5>Sean Robbins</h5>
                            <span>Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team__item">
                        <div class="team__item__pic">
                            <img src="img/about/team-4.jpg" alt="">
                        </div>
                        <div class="team__item__text">
                            <h5>Lucy Myers</h5>
                            <span>Delivary</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title testimonial-title">
                        <span>Testimonials</span>
                        <h2>Ce que les Gens Disent à Notre Sujet</h2>
                        <p>Nos clients sont nos plus grands soutiens. Que pensent-ils de nous ? Lorem</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="img/testimonial/testimonial-1.png" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>John Smith /<span> CEO Colorlib</span></h5>
                                </div>
                            </div>
                            <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                                house killing</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="img/testimonial/testimonial-2.png" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                                </div>
                            </div>
                            <p>It seems though that some of the biggest problems with the internet advertising trends
                                are the lack of</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="img/testimonial/testimonial-1.png" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>John Smith /<span> CEO Colorlib</span></h5>
                                </div>
                            </div>
                            <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                                house killing</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="img/testimonial/testimonial-2.png" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                                </div>
                            </div>
                            <p>It seems though that some of the biggest problems with the internet advertising trends
                                are the lack of</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Begin -->
    <div class="counter spad set-bg" data-setbg="img/counter-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">1922</h2>
                        <p>Vehicles Stock</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">1500</h2>
                        <strong>+</strong>
                        <p>Vehicles Sale</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">1922</h2>
                        <p>Dealer Reviews</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">5100</h2>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter End -->

    <!-- Clients Begin -->
    <div class="clients spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title client-title">
                        <span>Partner</span>
                        <h2>Nos Clients</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.fiat-official.tn/&ved=2ahUKEwi9xqjI0NGFAxUcRaQEHdxgDQ8QFnoECBYQAQ&usg=AOvVaw1fp4LsJsaV6OEfCreyRRQF" class="client__item">
                        <img src="img/clients/fiat.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.automobile.tn/fr/neuf/volkswagen&ved=2ahUKEwi_q9uL0dGFAxVtVKQEHYlUCx8QFnoECB8QAQ&usg=AOvVaw3UbJ04lOZWlMqjLuVnU6Ps" class="client__item">
                        <img src="img/clients/v1.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.automobile.tn/fr/magazine/actu/2021-11-29-baccouche-rekaya-motors-le-moteur-s.a-inaugure-une-nouvelle-agence-mercedes-benz-a-sousse.html&ved=2ahUKEwjVzOeW0dGFAxWmUaQEHSq_AxMQFnoECBQQAQ&usg=AOvVaw3ZxmSFYPsszL_ex1rQr8dD" class="client__item">
                        <img src="img/clients/m1.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://tn.audi.com/tn/web/fr.html&ved=2ahUKEwjj57uf0dGFAxUtVKQEHbl7DBwQFnoECBYQAQ&usg=AOvVaw3XtSR9IlJf_yQWsSuCvWYF" class="client__item">
                        <img src="img/clients/o.jpeg alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.citroen.tn/&ved=2ahUKEwjX5J6r0dGFAxU-UqQEHV3uAoIQFnoECBoQAQ&usg=AOvVaw1jHy32xhgCNKvim5YD53x2" class="client__item">
                        <img src="img/clients/c1.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.fiat-official.tn/dealer&ved=2ahUKEwj2xZW20dGFAxUKfqQEHfYrCgIQFnoECCsQAQ&usg=AOvVaw2qaG9yfaG0e0yJRPzONC-z" class="client__item">
                        <img src="img/clients/f1.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://baccoucheautomobiles.tn/&ved=2ahUKEwjV-dfE0dGFAxWvTaQEHShkBi4QFnoECCEQAQ&usg=AOvVaw2jz9YFa-vjy3_evgaSyqY1" class="client__item">
                        <img src="img/clients/b1.jpeg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.nissan.tn/&ved=2ahUKEwifuZLM0dGFAxUmUqQEHQCNAscQFnoECBUQAQ&usg=AOvVaw3ZKYWdNG9HrAbhbBCwfaQZ" class="client__item">
                        <img src="img/clients/n1.jpeg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+216) 97 121 467</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>